.bg-green-banq {
  background-color: rgb(48, 171, 161) ;
}

.text-green-banq {
  color: rgb(48, 171, 161) ;
}

.bg-mauve {
  background-color: rgb(51, 116, 155) ;
}

.home-bande {
  width: 100%;
  background-color: rgb(238, 238, 238) ;
  padding: 10px;
}

.w100 {
  width: 100%;
}

.b0 {
  border: none;
}


.formMenuPrincipal a:active {color:#30ABA1}
#divZoneMenuPrincipal{
	margin-top:3px;
	color:#525252;
}

#divZoneMenuPrincipal a:link, #divZoneMenuPrincipal a:visited {
  color:#525252;
  text-decoration:none;
}

.titreMenuPrincipal:hover {background-color:#f3f3f3;}

.titreMenuPrincipal {
	border-right:2px solid rgb(214, 214, 214);
	font-size:.84em;
	font-weight:bold;
}

.titreMenuPrincipal ul li {padding: 3px 10px;}

#lienMenuAccueil {padding-left:0;}

.titreMenuPrincipal a {list-style-type:none;}

.titreMenu {margin:0 10px;padding:2px 0}

.sousMenuPrincipal {
  position:absolute;
  padding: 0;
  margin: 0;
	display:none;
	list-style-type:none;
	color:#000;
  background-color:#f3f3f3;
  z-index: 100;
}

.sousMenuPrincipal li:hover{background-color:#D6D6D6;}
.hoverBackGroundColor:hover {background-color:#D6D6D6;}
.hoverPointer:hover {cursor:pointer}

a{
  font-size: 12px;
}
