
<!--LOGO-->
<div class="w100"> <img src="assets/img/logo_BAnQ.jpg" alt="thumbnail" class="img-fluid"> </div>

<!--TITLE-->
<div class="bg-green-banq w100">
  <table class="p-0 m-0 w100 b0">
    <tr>
      <td class="p-0 m-0"><img src="assets/img/raye.png" ></td>
      <td class="p-0 m-0" style="font-size: 40px; color:white; font-family: 'Times New Roman', Times, serif;">&nbsp;Extranet</td>
      <td style="width:46%">&nbsp;</td>
      <td class="p-0 m-0"><img src="assets/img/banq-title.png" ></td>
    </tr>
  </table>
</div>

<!--MENU-->
<div class="col-sm-12 m-0 p-0 w100 bg-white" style="margin-bottom:10px">
  <div id="divZoneMenuPrincipal">
    <div class="titreMenuPrincipal hoverBackGroundColor" style="float:left;">
      <div class="titreMenu">
        <a [routerLink]="['/home/dashboard']" routerLinkActive="router-link-active" >Accueil</a>
      </div>
  </div>
  <div class="titreMenuPrincipal" id="titreMenuVotreDossier" style="float:left" (mouseover)="onMouseEnter('titreMenuVotreDossier')" (mouseout)="onmouseout('titreMenuVotreDossier')">
    <div class="titreMenu hoverPointer">Votre dossier</div>
    <ul id="sous_titreMenuVotreDossier" class="sousMenuPrincipal">
    <li><a [routerLink]="['/home/dossier']" routerLinkActive="router-link-active" >Voir ou modifier vos coordonnées</a></li>
    <li><a [routerLink]="['/home/licences']" routerLinkActive="router-link-active" >Licences d'autorisation accordées à BAnQ</a></li>
    </ul>
  </div>
  <div class="titreMenuPrincipal" id="titreMenuDepotLegal" style="float:left" (mouseover)="onMouseEnter('titreMenuDepotLegal')" (mouseout)="onmouseout('titreMenuDepotLegal')">
    <div class="titreMenu hoverPointer">Dépôt légal</div>
    <ul id="sous_titreMenuDepotLegal" class="sousMenuPrincipal">
      <li><a [routerLink]="['/home/depol']" routerLinkActive="router-link-active" >Signaler un nouveau dépôt imprimé</a></li>
      <li><a [routerLink]="['/home/list-depot']" routerLinkActive="router-link-active">Consulter la liste de vos dépôts</a></li>
      <li><a [routerLink]="['/home/claim']" routerLinkActive="router-link-active" >Consulter la liste de vos réclamations</a></li>
    </ul>
  </div>
  <div class="titreMenuPrincipal" id="titreMenuDepotPublicationNum" style="float:left" (mouseover)="onMouseEnter('titreMenuDepotPublicationNum')" (mouseout)="onmouseout('titreMenuDepotPublicationNum')">
    <div class="titreMenu hoverPointer">Dépôt de publication numérique</div>
    <ul id="sous_titreMenuDepotPublicationNum" class="sousMenuPrincipal">
      <li><a href="#">Déposer une publication numérique libre d'accès</a></li>
      <li><a href="#">Déposer une publication numérique à accès restreint (commerciale)</a></li>
      <li><a href="#">Participer au programme de collecte des sites Web québécois</a></li>
      <li><a id="linkConsulterPubNum" href="http://acpt-www.banq.qc.ca/dl-editor-pp/doListTransaction" >Consulter la liste de vos dépôts de publications numériques</a></li>
    </ul>
  </div>

  <div class="titreMenuPrincipal" id="titreMenuISBN" style="float:left" (mouseover)="onMouseEnter('titreMenuISBN')" (mouseout)="onmouseout('titreMenuISBN')">
    <div class="titreMenu hoverPointer">ISBN</div>
    <ul id="sous_titreMenuISBN" class="sousMenuPrincipal">
      <li class="nonPROD"><a [routerLink]="['/home/dmd-isbn']" routerLinkActive="router-link-active" id="formMenuPrincipal:sousMenuISBN_1">Faire une première demande pour une séquence ISBN</a></li>
      <li class="nonPROD"><a [routerLink]="['/home/new-isbn']" routerLinkActive="router-link-active" id="formMenuPrincipal:sousMenuISBN_2">Faire une demande additionnelle pour une nouvelle séquence ISBN</a></li>
      <li class="nonPROD"><a [routerLink]="['/home/list-isbn']" routerLinkActive="router-link-active">Consulter la liste de vos numéros ISBN</a></li>
    </ul>
  </div>
  <div class="titreMenuPrincipal hoverBackGroundColor" style="float:left;"><div class="titreMenu"><a [routerLink]="['/home/help']" routerLinkActive="router-link-active" >Aide</a></div></div>
  <div class="titreMenuPrincipal hoverBackGroundColor" style="float:left;border-right:none"><div class="titreMenu"><a [routerLink]="['/home/join-us']" routerLinkActive="router-link-active"  >Nous joindre</a></div></div>

</div>

<div class="justify-content-end text-right align-middle">
  <a [href]="logoutUrl" (click)="logout()">Se Déconnecter</a>
</div>

</div>

<!--VERTICAL SPACER-->
<div style="height: 30px;"></div>
