
<div class="card m-0 p-0">
  <!-- HEADER -->
  <div class="p-2 bg-banq justify-content-center text-center">
      <strong style="font-size: 15px">Demande de numéro(s) ISBN</strong>
  </div>

  <!-- BODY -->
  <div class="card-body col-sm-12 m-0 animated fadeIn">
    <div>
      <span>Assurez-vous que le document est éligible à une demande ISBN en consultant le <a href="#">Guide sur l'utilisation de l'ISBN</a></span>
    </div>

    <div>
      <h6><strong>1. Avez-vous déjà demandé une séquence ISBN?</strong> <span class="required">*</span></h6>
      <div class="input-group">
        <div class="input-group-prepend"><input type="radio">&nbsp;<span>Oui</span></div>
        <div class="input-group-prepend" style="margin-left: 15px;"><input type="radio">&nbsp;<span>Non</span></div>
      </div>
      <div>
        <span>Si oui, quel était le dernier numéro attribué?</span>
        <input type="text">
      </div>
    </div>

    <div class="my-5">
      <h6><strong>2. Catégorie d'éditeur</strong> <span class="required">*</span></h6>
      <div class="input-group">
        <div class="input-group-prepend"><input type="radio">&nbsp;<span>À compte d'auteur, sans nom commercial (auto-édition)</span></div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend"><input type="radio" >&nbsp;<span>Raison sociale immatriculée. Veuillez inscrire votre numéro d'entreprise de Québec (NEQ) :</span></div>
        <div class="input-group-prepend" style="margin-left: 15px;"><input type="text"></div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend"><input type="radio" >&nbsp;<span>Compagnie incorporée. Veuillez inscrire votre numéro d'entreprise du Québec (NEQ) :</span></div>
        <div class="input-group-prepend" style="margin-left: 15px;"><input type="text"></div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend"><input type="radio" >&nbsp;<span>Autre (ex. : Municipalité, institution d'enseignement, groupe de recherche, CSSS, etc.) Précisez :</span></div>
      </div>
      <div class="w100">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="my-5">
      <h6><strong>3. Dans quelle langue prévoyez-vous publier principalement?</strong></h6>
      <div class="input-group">
        <div class="input-group-prepend"><input type="radio" >&nbsp;<span>Français</span></div>
        <div class="input-group-prepend" style="margin-left: 25px;"><input type="radio" >&nbsp;<span>Anglais</span></div>
        <div class="input-group-prepend" style="margin-left: 25px;"><input type="radio" >&nbsp;<span>Autre. Précisez :</span></div>
        <div class="input-group-prepend" style="margin-left:5px;"><input type="text"></div>
      </div>
    </div>

    <div class="my-5">
      <h6><strong>4. Publication(s) à paraître.</strong></h6>
      <h6>Veuillez décrire le ou les titres à paraître, en tenant compte des différents formats et langues</h6>
      <div class="w100 p-0 m-0">
        <table class="table table-bordered table-responsive-md table-striped text-center m-0 p-0" scrollX="false" scrollY="true" style="width:100%" maxHeight="200">
          <thead>
              <tr>
                  <th class="text-center align-middle justify-content-center p-0 m-0">
                    <table class="w100 p-0 m-0" style="border: 0 none;">
                      <tr>
                        <td class="p-0 m-0" style="border: 0 none;"><button class="btn btn-sm bg-banq border" style="width: 60px;">T<i class="fa fa-plus"></i></button></td></tr><tr>
                        <td class="py-1 m-0" style="border: 0 none;"><button class="btn btn-sm bg-banq border" style="width: 60px;">F<i class="fa fa-plus"></i></button></td>
                      </tr>
                    </table>
                  </th>
                  <th class="offspaces bg-banq text-center align-middle">Titre<span class="required">*</span></th>
                  <th class="offspaces bg-banq text-center align-middle">Est-ce un document de moins de cinq pages?<span class="required">*</span></th>
                  <th class="offspaces bg-banq text-center align-middle">Format de la publication</th>
                  <th class="offspaces bg-banq text-center align-middle">Date de mise sous presse<br>(jj-mm-aaaa)</th>
                  <th class="offspaces bg-banq text-center align-middle">Date probable de publication<span class="required">*</span><br>(jj-mm-aaaa)</th>
                  <th class="offspaces bg-banq text-center align-middle">Annuelle</th>
                  <th class="offspaces bg-banq text-center align-middle">Suppr.</th>
              </tr>
          </thead>
          <tbody class="p-0 m-0">
              <td class="p-0 m-0">1</td>
              <td class="p-0 m-0"><input type="text" class="form-control"></td>
              <td class="p-0 m-0">
                  <div class="input-group">
                      <div class="input-group-prepend"><input type="radio" >&nbsp;<span>Oui</span></div>
                      <div class="input-group-prepend" style="margin-left: 10px;"><input type="radio">&nbsp;<span>Non</span></div>
                  </div>
              </td>
              <td class="p-0 m-0"><select class="form-control"></select></td>
              <td class="p-0 m-0">
                  <table class="p-0 m-0" style="border:none"><tr>
                      <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number"/></td>
                      <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number" /></td>
                      <td class="p-0 m-0"><input matInput type="text" pattern="^\d{4}$" class="form-control telephone4 divCentrer bg-white" maxlength="4" size="4" app-numeric numericType="number" /></td>
                    </tr></table>
              </td>
              <td class="p-0 m-0">
                  <table class="p-0 m-0" style="border:none"><tr>
                      <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number"/></td>
                      <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number" /></td>
                      <td class="p-0 m-0"><input matInput type="text" pattern="^\d{4}$" class="form-control telephone4 divCentrer bg-white" maxlength="4" size="4" app-numeric numericType="number" /></td>
                    </tr></table>
              </td>
              <td class="p-0 m-0"><input type="checkbox"></td>
              <td class="p-0 m-0">
                  <button type="button" class="btn btn-sm btn-danger m-0"><i class="fa fa-remove"></i></button>
              </td>
            </tbody>
      </table>
      </div>
    </div>

    <div class="my-5">
      <h6><strong>5. Combien de titres prévoyez-vous publier sous ce nom d'éditeur au cours des cinq prochaines années?</strong></h6>
      <div class="input-group">
        <div class="input-group-prepend"><input type="radio">&nbsp;<span>10 et moins</span></div>
        <div class="input-group-prepend" style="margin-left: 25px;"><input type="radio">&nbsp;<span>11 à 100</span></div>
        <div class="input-group-prepend" style="margin-left: 25px;"><input type="radio">&nbsp;<span>Plus de 100</span></div>
      </div>
    </div>

    <div class="my-5">
      <h6><strong>6. À quel(s) domaine(s) vos publications sont-elles rattachées (ex. : environnement, généalogie, psychologie, éducation, sociologie, littérature, etc.)?</strong></h6>
      <div class="input-group w100">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="my-5">
      <h6><strong>7a. Responsable désigné pour le dépôt de vos publications :</strong></h6>
      <table class="w100 p-0 m-0 ">
        <tr>
          <td style="width: 15%;">
            <div class="input-group">
              <div class="input-group-prepend"><input type="radio">&nbsp;<span>M.</span></div>
              <div class="input-group-prepend" style="margin-left: 15px;"><input type="radio">&nbsp;<span>Mme</span></div>
            </div>
          </td>
          <td style="width: 85%;">
            <table class="table table-bordered table-responsive-md table-striped text-center m-0 p-0 w100" scrollX="false" scrollY="true" maxHeight="200">
              <thead>
                  <tr>
                      <th class="offspaces bg-banq text-center align-middle">Nom</th>
                      <th class="offspaces bg-banq text-center align-middle">Prénom</th>
                      <th class="offspaces bg-banq text-center align-middle">Courriel</th>
                      <th class="offspaces bg-banq text-center align-middle">Téléphone</th>
                      <th class="offspaces bg-banq text-center align-middle">Poste</th>
                  </tr>
              </thead>
              <tbody>
                  <td class="p-0 m-0"><input type="text" class="form-control"></td>
                  <td class="p-0 m-0"><input type="text" class="form-control"></td>
                  <td class="p-0 m-0"><input type="text" class="form-control"></td>
                  <td class="p-0 m-0">
                      <table class="p-0 m-0" style="border:none"><tr>
                          <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number"/></td>
                          <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number" /></td>
                          <td class="p-0 m-0"><input matInput type="text" pattern="^\d{4}$" class="form-control telephone4 divCentrer bg-white" maxlength="4" size="4" app-numeric numericType="number" /></td>
                        </tr></table>
                  </td>
                  <td class="p-0 m-0"><input type="text" class="form-control" style="width: 60px;"></td>
                </tbody>
              </table>

          </td>
        </tr>
      </table>
    </div>

    <div class="my-5">
      <h6><strong>7b. Responsable désigné pour vos ISBN :<input type="checkbox" style="margin-left: 25px;">&nbsp;<span>Idem à 7a</span></strong></h6>
      <table class="w100 p-0 m-0 ">
        <tr>
          <td style="width: 15%;">
            <div class="input-group">
              <div class="input-group-prepend"><input type="radio">&nbsp;<span>M.</span></div>
              <div class="input-group-prepend" style="margin-left: 15px;"><input type="radio">&nbsp;<span>Mme</span></div>
            </div>
          </td>
          <td style="width: 85%;">
            <table class="table table-bordered table-responsive-md table-striped text-center m-0 p-0 w100" scrollX="false" scrollY="true" maxHeight="200">
              <thead>
                  <tr>
                      <th class="offspaces bg-banq text-center align-middle">Nom</th>
                      <th class="offspaces bg-banq text-center align-middle">Prénom</th>
                      <th class="offspaces bg-banq text-center align-middle">Courriel</th>
                      <th class="offspaces bg-banq text-center align-middle">Téléphone</th>
                      <th class="offspaces bg-banq text-center align-middle">Poste</th>
                  </tr>
              </thead>
              <tbody>
                <td class="p-0 m-0"><input type="text" class="form-control"></td>
                <td class="p-0 m-0"><input type="text" class="form-control"></td>
                <td class="p-0 m-0"><input type="text" class="form-control"></td>
                <td class="p-0 m-0">
                    <table class="p-0 m-0" style="border:none"><tr>
                        <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number"/></td>
                        <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number" /></td>
                        <td class="p-0 m-0"><input matInput type="text" pattern="^\d{4}$" class="form-control telephone4 divCentrer bg-white" maxlength="4" size="4" app-numeric numericType="number" /></td>
                      </tr></table>
                </td>
                <td class="p-0 m-0"><input type="text" class="form-control" style="width: 60px;"></td>
              </tbody>
            </table>

          </td>
        </tr>
      </table>
    </div>

    <div>
      <h6><strong>8. Commentaires</strong></h6>
      <div class="input-group w100">
        <input type="text" class="form-control">
      </div>
      <small style="font-weight: bold; font-size: 9px; color:grey;">Le contenu ne peut pas excéder 500 caractères.</small>
    </div>

  </div>

  <!-- FOOTER -->
  <div class="card-footer">
    <div class=" form-inline d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-arrow-left"></i>&nbsp;Retour</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" (click)="back()"><i class="fa fa-times"></i>&nbsp;Effacer tout</button>&nbsp;
        <button type="button" class="btn btn-sm btn-primary" (click)="back()"><i class="fa fa-check"></i>&nbsp;Soumettre</button>
    </div>
  </div>

</div>

