
<div class="app-body">
  <main class="main d-flex align-items-center">
      <div class="container">
          <div class="row d-flex justify-content-center">
              <div class="col-sm-10 border bg-white">
                    <div class="col-sm-12">
                      <app-header2></app-header2>
                      <router-outlet></router-outlet>
                      <app-footer2></app-footer2>
                    </div>
              </div>
          </div>
      </div>
  </main>
</div>
