* {
    padding:0;
    margin:0;
  }
  body {
    font-size:0.92em;
    color:#333;
    font-family:Helvetica, Arial, sans-serif;
  }
  #Global {
    /*margin:0 auto;
    padding:0;
    background-color:#fff;
    width:940px;*/
    position:relative;
  }
  #Entete p {margin:12px 0 13px 0; text-align:right; font-size: 0.76em;}
  #Entete.BarreNoire {border-bottom:34px solid #000;}
  #Entete a:link, #Entete a:visited {text-decoration:underline; color:#646464; margin:3px;}
  #Entete a:hover, #Entete a:focus {text-decoration:none;}
  #Entete a.Lang {margin-left:20px;}
  #Contenu {padding:10px 0 10px 185px;background:#ffffff url('https://www.banq.qc.ca/images/interface09/logo_BAnQ.jpg') no-repeat left bottom;}
  h1 {margin:7px 10px; color:#4c4c4c;font-size:1.4em;}
  #loginChemin {margin:7px 10px; font-size: 0.8em;}
  #loginChemin a:link, #loginChemin a:visited {text-decoration:underline;color:#31697f;}
  #loginChemin a:hover, #loginChemin a:focus {text-decoration:none;color:#31697f;}
  .EnteteForm {border:1px solid #b1b9bf;margin:10px 0 1px 0;height:32px;background-color:#c9d1d4}
  .Wrapper {border:1px solid #b1b9bf;overflow:hidden;padding:10px 10px 5px 10px;font-size:.92em;}
  .ColG {float:left;width:48%;padding-right:10px;}
  .ColG a:link, .ColG a:visited {text-decoration:none; color:#333;}
  .ColG a:hover, .ColG a:focus  {text-decoration:underline;color:#333;}
  .Chapo {font-weight:bold;}
  label {display:block;font-size:.8em;margin-top:7px}
  input[type=text], input[type=password] {width:80%}
  input[type=submit], .btnSubmit {font-weight:bold;background-color:#8edbd8;border:2px solid #52c8c4;border-radius:5px;
  margin:20px 10px 20px 30px;padding:2px 14px;cursor:pointer;}
  input[type=submit]:hover {background-color:#f4f4f4;border:2px solid #8edbd8;}
  .ColD {float:left;width:47%;margin:0 0 10px 0;border-left:1px solid #b1b9bf;padding:0 10px;}
  .ColD a:link, .ColD a:visited {display:block;text-align:center;text-decoration:none;color:#333;margin:15px 0;padding:7px;}
  .ColD .Bouton:link, .ColD .Bouton:visited {border:1px solid #b4e7e5; background-color:#e4fcfc; font-weight:bold;}
  .ColD a:hover, .ColD a:focus  {text-decoration:underline;color:#333;}
  .ColD .Bouton:hover, .ColD .Bouton:focus {color: #52c8c4; border:1px solid #52c8c4; background-color:#b4e7e5;text-decoration:none;}
  .PdP {margin-left:185px;text-align:center;font-size:.8em}
  .divReponse {
    margin: 0 auto 10px auto;
    text-align: left;
    border: 1px solid #e7e7e7;
    width: 340px;
    padding:8px;
    }
  .divReponse img {
    border:none;
    float:right;
  }
  .divReponse li{
    margin-left:20px;
    padding-bottom:10px;
  }
  #contenu_reponse_abon {
    background-color: #eceff1;
  }
  #contenu_reponse_abon a:link , #contenu_reponse_abon a:visited {
      display:inline;
      text-align:left;
      margin:0px;
      padding:0px;
  }
  #contenu_reponse_abon a:link, #contenu_reponse_abon a:visited {text-decoration:underline;color:#646464;}
  #contenu_reponse_abon a:hover, #contenu_reponse_abon a:focus {text-decoration:none;}
  p {
      margin:20px 5px
  }
  ul
  {
      margin-left:15px
  }
  /* Ajout pour Utilisation BD */
  .Ariane {font-size:.88em;}
  .Bouton {text-align:center;font-weight:bold;font-size:1em; display:inline-block;margin:10px; background-color:#b4e7e5;border:1px solid #003a9d;width: 100%;}
  .Bouton  a {display:inline-block;margin:10px; color:#003a9d;}

  .p0m0 {
    padding: 0px;
    margin: 0px;
  }
