<br><br>

<div class="row d-flex justify-content-center">
<div id="Global" class="col-sm-6 p-2 border bg-white">
    <div id="Entete" class="BarreNoire">
        <p><a href="http://www.banq.qc.ca">Accueil</a> <a href="http://www.banq.qc.ca/aide/mon_dossier/">Aide</a> <a href="http://www.banq.qc.ca/accueil/index.html?language_id=1" class="Lang">English</a></p>
        <img src="https://www.banq.qc.ca/images/interface14/BAnQ-2.gif" alt="Biblioth&egrave;que et Archives nationales du Qu&eacute;bec." />
    </div>

    <div id="Contenu" class="justify-content-center" style="vertical-align: middle">

        <p id="loginChemin"><a href="http://www.banq.qc.ca/mon_dossier/mon_dossier.html">Mon dossier</a>&nbsp;&gt;&nbsp;Pour acc&eacute;der &agrave; votre dossier</p>
        <h1>Pour acc&eacute;der &agrave; votre dossier</h1>
        <form name="sbLogin" action="/idp/Authn/UserPassword" method="post">
            <div class="EnteteForm"></div>
            <div class="Wrapper">
                <div class="ColG">
                    <p class="Chapo">Entrez le num&eacute;ro de client (8 chiffres) et le mot de passe li&eacute;s &agrave; votre <a href="http://www.banq.qc.ca/mon_dossier/mon_dossier.html">dossier</a>.</p>
                    <div id="messageSafari" class="loginMsg" style="display:none;">
                        <div>Message aux abonnés utilisant le navigateur Web Safari.</div><br/> Il est possible que vous éprouviez certaines difficultés de navigation après vous ètre authentifié sur le portail de BAnQ. Nous vous recommandons d'utiliser les
                        applications Firefox ou Google Chrome jusqu'à ce que ce problème soit définitivement réglé.
                        <br/><br/> Merci de votre compréhension.
                    </div>
                    <label for="NUM">Num&eacute;ro de client (8 chiffres)</label>
                    <input matInput type="text" required #txtUsername="ngModel" [class.is-invalid]="txtUsername.invalid && txtUsername.touched" class="form-control" placeholder="" autocomplete="username" name="txtUsername" [(ngModel)]="request.username">
                    <label for="PWD">Mot de passe</label>
                    <input matInput type="password" required #txtPassword="ngModel" [class.is-invalid]="txtPassword.invalid && txtPassword.touched" class="form-control" placeholder="" name="txtPassword" [(ngModel)]="request.password">
                    <button class="btnSubmit" mat-button (click)="login()">Connexion</button>
                    <a href="https://www.banq.qc.ca/formulaires/extranet/index.html">Mot de passe perdu?</a>
                </div>

                <div class="ColD">
                    <p class="Chapo">Vous n'êtes pas abonn&eacute;?</p>
                    <button mat-button class="Bouton" (click)="onCmtAbonneClick()">Comment s'abonner?</button>
                    <div id="contenu_reponse_abon" [ngStyle]="{'display': disp ? 'block' : 'none'}" class="divReponse">
                        <a (click)="disp = false"><img src="https://www.banq.qc.ca/extranet/images/interface/ic-fermer.gif" alt="Fermer" /></a>
                        <p>Pour vous inscrire à l'extranet, veuillez compléter ce <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="inlineLink">formulaire d’inscription.</a></p>
                        <p>Vous recevrez votre numéro de client et mot de passe dans un délai maximum de trois jours ouvrables.</p>
                        <p>Pour toute question veuillez communiquer avec nous</p>
                        <ul>
                            <li>par courriel à <a href="mailto:extranetediteur@banq.qc.ca" class="inlineLink">extranetediteur@banq.qc.ca</a></li>
                            <li>par téléphone au 514 873-1101 poste 3837 ou au 1 800 363-9028 poste 3837 (au Québec)</li>
                        </ul>
                    </div>
                    <p><a href="http://www.banq.qc.ca/mon_dossier/a_propos_securite.html">&Agrave; propos de la s&eacute;curit&eacute;</a></p>
                </div>
            </div>

        </form>
    </div>
    <p style="text-align:right;margin:0px;"><a href=" http://www.banq.qc.ca/documents/services/depot_legal/guide_technique_extranet.pdf" style="color: #31697F;">Guide technique à l'intention des utilisateurs de l'extranet [PDF - 992 Ko]</a></p>
    <p class="PdP">&copy; Tous droits r&eacute;serv&eacute;s. Biblioth&egrave;que et Archives nationales du Qu&eacute;bec</p>
</div><app-alert-dialog [myAlert]="myAlert"></app-alert-dialog>
</div>
