<div class="card m-0 p-0">
    <div class="p-2 bg-banq justify-content-center text-center">
      <strong style="font-size: 15px">Licence accordée à Bibliothèque et Archives nationales du Québec</strong>
    </div>
    <div class="card-body col-sm-12 m-0 animated fadeIn" style="font-size: 11px;">

        <div class="w100">
          <span>Bibliothèque et Archives nationales du Québec (BAnQ) a notamment pour mandat de conserver et de diffuser le patrimoine documentaire publié québécois tout en respectant les dispositions de la Loi sur le droit d'auteur. Par la présente, l'éditeur autorise BAnQ à poser les actions suivantes :</span><br><br>
        </div>
        <div class="w100">
            <div class="input-group px-3">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label"><b>Publications numériques</b></label>
            </div>
        </div>
        <div class="border p-2 w100">
            <p>1. reproduire et archiver une ou des copies des publications numériques sur une unité de stockage appartenant à BAnQ;</p>
            <p>2. effectuer les opérations requises, notamment la migration, la conversion et la fusion, afin de répondre aux normes informatiques de BAnQ pour assurer la conservation et la diffusion à long terme;</p>
            <p>3. donner accès à ses usagers aux fichiers ayant fait l'objet des opérations mentionnées aux points numéro 1 et 2 selon les modalités suivantes :</p>

            <b>Publications numériques libres d'accès</b><br>
            <div class="input-group px-3">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Sur le <b>portail Internet de BAnQ</b> (pour les publications que l'éditeur aura signalées comme étant " <b>libre d'accès</b> " au moment du dépôt).</label>
            </div>
            <br><b>Publications numériques à accès restreint (commercial)</b><br>
            <div class="input-group px-3">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label"><b>Dans les locaux de BAnQ</b>, à partir de postes informatiques dédiés n'offrant aucune possibilité d'impression ni de téléchargement (pour les publications que l'éditeur aura signalées comme étant « <b>à accès restreint (commercial)</b> » au moment du dépôt).</label>
            </div>
            <br>
            <span>Ces publications pourront être diffusées sur le portail Internet de BAnQ sans limite de territoire ni de temps au terme du délai suivant:</span><br>
            <ul style="text-decoration: none;">
              <li><div class="input-group"><input class="form-check-input" type="radio">&nbsp;<label class="form-check-label">1 an</label></div></li>
              <li><div class="input-group"><input class="form-check-input" type="radio">&nbsp;<label class="form-check-label">2 ans</label></div></li>
              <li><div class="input-group"><input class="form-check-input" type="radio">&nbsp;<label class="form-check-label">5 ans</label></div></li>
              <li><div class="input-group"><input class="form-check-input" type="radio">&nbsp;<label class="form-check-label">10 ans</label></div></li>
              <li><div class="input-group"><input class="form-check-input" type="radio">&nbsp;<label class="form-check-label">Jamais (jusqu'à l'expiration du droit d'auteur)</label></div></li>
              <li>
                <div class="input-group">
                  <input class="form-check-input" type="radio">&nbsp;<label class="form-check-label">Autre délai:</label>&nbsp;
                  <input type="text">
                </div>
              </li>
            </ul>
            <p>Il est convenu que le délai mentionné court depuis la date de réception des fichiers par BAnQ.</p>
            <p>Au terme du délai indiqué, les usagers du portail Internet de BAnQ pourront utiliser les publications qui y sont diffusées à des fins privées, éducatives et non commerciales, à la condition d'indiquer la source.</p>
            <span>L'éditeur autorise BAnQ à reproduire les publications recueillies et à en communiquer une copie à Bibliothèque et Archives Canada (BAC), conformément aux règles relatives au dépôt légal qui leur sont applicables :</span><br>
            <ul style="text-decoration: none;">
                <li><div class="input-group"><input class="form-check-input" type="checkbox">&nbsp;<label class="form-check-label">Oui</label></div></li>
                <li><div class="input-group"><input class="form-check-input" type="checkbox">&nbsp;<label class="form-check-label">Non</label></div></li>
            </ul>
            <p>Coordonnées de la personne à joindre pour toute question concernant les publications:</p>
            <table class="p-2" style="width: 80%;">
              <tr>
                <td>Nom</td>
                <td> <input type="text"> </td>
                <td>Prénom</td>
                <td><input type="text"></td>
              </tr>
              <tr>
                <td>Téléphone</td>
                <td> <input type="text" style="width: 120px;"> </td>
                <td>Poste</td>
                <td><input type="text" style="width: 80px;"></td>
              </tr>
              <tr>
                <td>Courriel</td>
                <td colspan="2"><input type="text" class="w100"></td>
                <td></td>
              </tr>
              </table>
        </div>
        <br><br>
        <div class="w100">
            <div class="input-group px-3">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label"><b>Sites Web</b></label>
            </div>
        </div>
        <div class="border w100 p-2">
          <p>Pour l'ensemble de ces desseins, l'éditeur accorde gratuitement à BAnQ une licence, à des fins non commerciales, de reproduction et de communication au public par télécommunications.</p>
          <p>La licence est non exclusive, non transférable et sans limite de territoire ni de temps.</p>
          <p>L'éditeur garantit à BAnQ qu'il détient les droits d'auteur et qu'il est dûment habilité et autorisé à accorder la présente licence.</p>
          <p>Il est entendu que l'éditeur demeure le seul titulaire des droits d'auteur de ses publications numériques et de son ou ses sites Web.</p>
          <p>L'éditeur peut résilier la présente licence en remettant à BAnQ un avis écrit 30 jours. Cependant, en cas de résiliation, BAnQ continue de jouir des droits d'utilisation consentis au préalable.</p>
          <span>Adresse(s) du (des) sites Web ou autre(s) commentaire(s)</span><br>
          <div class="w100">
              <textarea class="form-control" rows="2"></textarea>
              <small  class="font-weight-bold text-muted" style="font-size: 9px;">Le contenu ne peut pas excéder 2000 caractères</small>
          </div>
          <br>
          <span> <b>Pour l'éditeur:</b><br>Un courriel vous sera envoyé, dans lequel se trouvera un hyperlien permettant de confirmer l'octroi de la présente licence à BAnQ. Cet échange constituera l'autorisation de l'éditeur. <br> </span>
          <table class="p-2" style="width: 50%;">
            <tr>
              <td>Nom :</td>
              <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>Fonction :</td>
              <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>Courriel :</td>
              <td><input type="text" class="form-control"></td>
            </tr>
          </table>
          <p>Veuillez indiquer le(s) courriel(s) au(x)quel(s) la confirmation de la signature de la licence sera envoyée :</p>
          <table class="p-2" style="width: 55%;">
              <tr>
                <td class="px-2 text-center"><button mat-button class="btn btn-sm btn-success" matTooltip="Cliquez ici pour ajouter un nouveau repondant"><i class="fa fa-plus"></i></button></td>
                <td><input type="text" class="form-control"></td>
                <td class="p-0 text-center"><button mat-button class="btn btn-sm btn-danger" matTooltip="Cliquez ici pour supprimer la ligne"><i class="fa fa-remove"></i></button></td>
              </tr>
            </table>
            <p>Les informations suivantes seront remplies lorsque le lien dans le courriel sera activé :</p>
          <table class="w100">
            <tr>
              <td style="width: 50%;">Signature:</td><td style="width: 50%;">Date:</td>
            </tr>
          </table><br>
        </div>

    </div>

<div class="card-footer">
  <div class=" form-inline d-flex justify-content-end">
      <button type="reset" mat-button class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-times"></i>&nbsp;Retour</button>&nbsp;&nbsp;
      <button type="submit" mat-button class="btn btn-sm btn-primary" (click)="submit()"><i class="fa fa-check"></i>&nbsp;Soumettre</button>
  </div>
</div>
</div>
