<div class="card m-0 p-0">
    <!--<div class="p-2 bg-banq justify-content-center text-center">
      <strong style="font-size: 15px">Licences d'autorisation accordées à BAnQ</strong>
    </div>-->
<div class="card-body col-sm-12 m-0 animated fadeIn">
    <div>
      <h1>Aide</h1>
      <ul class="ListeLiensPage">
          <li>
            <a href="https://dev-www.banq.qc.ca/extranet/documents/editeurs/guide_gestion_isbn.pdf">Guide de gestion de vos ISBN</a><span> [PDF - 360 Ko]</span>
        </li>
        <li>
            <a href="https://dev-www.banq.qc.ca/extranet/documents/editeurs/Guide_du_depot_legal.pdf">Guide pour effectuer le dépôt légal</a><span> [PDF - 857 Ko]</span>
        </li>
        <li>
            <a href="https://dev-www.banq.qc.ca/extranet/documents/editeurs/Guide_depot_publications_numeriques.pdf">Guidepour effectuer le dépôt légal des publications numériques</a><span> [PDF - 715 Ko]</span>
        </li>
        <li>
            <a href="https://dev-www.banq.qc.ca/extranet/documents/editeurs/Questions_reponses_express.pdf">Questions - Réponses Express</a><span> [PDF - 54 Ko]</span>
        </li>
        <li>
            <a href="https://dev-www.banq.qc.ca/extranet/documents/editeurs/Renseignement_techniques.pdf">Guide technique à l'intention des utilisateurs de l'extranet</a><span> [PDF - 578 Ko]</span>
        </li>
        <li>
          <a [routerLink]="['/register']" routerLinkActive="router-link-active" >S'inscrire</a>
      </li>
  </ul>
   </div>
   <div id="pdp"> </div>
   <div class="smalltextatbottom" id="menubaspage">
     Derni&egrave;re modification : 25 Avril 2010 -- Derni&egrave;re refonte : Novembre 2019<br><br>
     <a href="http://www.gouv.qc.ca" target="_blank" title="Portail du gouvernement du Québec"><img src="/idel-v2/extranet/assets/img/QUEBw1.gif" alt="Portail du gouvernement du Qu&eacute;bec" width="105" height="32"></a><br>
     <a href="http://www.droitauteur.gouv.qc.ca/copyright.php" target="_blank" title="&copy; Gouvernement du Qu&eacute;bec">&copy; Gouvernement du Qu&eacute;bec, 2006-2010</a><br><br>
   </div>

   <div class="example-container">
      <mat-form-field  class="p-0 m-0 border text-dark">
        <input matInput placeholder="Input">
      </mat-form-field>

      <mat-form-field class="p-0 m-0 border text-dark">
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>

      <mat-form-field class="p-0 m-0 border text-dark">
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

</div>

<div class="card-footer">
  <div class=" form-inline d-flex justify-content-start">
      <button type="reset" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-times"></i>&nbsp;Retour</button>
  </div>
</div>
</div>
