
<div class="card m-0 p-0">
    <!-- HEADER -->
    <div class="p-2 bg-banq justify-content-center text-center">
        <strong style="font-size: 15px">Consulter la liste des dépôts</strong>
    </div>

    <!-- BODY -->
    <div class="card-body col-sm-12 m-0 animated fadeIn">
        <table id="tblDepots" datatable class="table table-bordered table-sm table-responsive-sm table-striped row-border hover m-0 p-0" scrollX="false" scrollY="true" style="width:100%" maxHeight="800">
            <thead>
                <tr>
                    <th class="th-sm offspaces bg-banq text-center align-middle">Numéro de dépôt</th>
                    <th class="th-sm offspaces bg-banq text-center align-middle">Date du Signalement</th>
                    <th class="th-sm offspaces bg-banq text-center align-middle">Titre de la publication</th>
                    <th class="th-sm offspaces bg-banq text-center align-middle">Type de document</th>
                    <th class="th-sm offspaces bg-banq text-center align-middle">Statut du dépôt</th>
                    <th class="th-sm offspaces bg-banq text-center align-middle">1er envoi recu le</th>
                    <th class="th-sm offspaces bg-banq text-center align-middle">Date d'enreg ou de rejet</th>
                    <th class="th-sm offspaces bg-banq text-center align-middle">Liste des avis</th>
                </tr>
            </thead>
          </table>
    </div>

    <!-- FOOTER -->
    <div class="card-footer">
      <div class=" form-inline d-flex justify-content-start">
          <button type="reset" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-times"></i>&nbsp;Retour</button>
      </div>
    </div>

  </div>

