
<div id="dlgAlert" #dlgAlert class="modal fade" [ngStyle]="{'display': myAlert.display ? 'block' : 'none'}">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div [ngClass]="'modal-header bg-' + getStyleClassSuffix()">
            <h4 class="modal-title">{{myAlert.title}}</h4>
            <button type="button" class="close" (click)="myAlert.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <p>{{myAlert.msg}}&hellip;</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="myAlert.hide()">Close</button>
            <button type="button" [ngClass]="'btn btn-' + getStyleClassSuffix()" (click)="myAlert.hide()">Ok</button>
        </div>
    </div>
</div>
</div>
