
 <app-alert-dialog [myAlert]="myAlert"></app-alert-dialog>


<div *ngIf="errs.length > 0">
    <ul>
      <li *ngFor="let err of errs">
          <span style="font-weight:bold; color:red; font-size: 12px"><i class="rounded bg-danger fa fa-warning" style="padding: 2px"></i>&nbsp;{{err}}</span>
      </li>
    </ul>
    <br>
  </div>

<div class="card m-0 p-0">
    <div class="p-2 bg-banq justify-content-center text-center">
      <strong style="font-size: 15px">Vos coordonnées</strong>

    </div>
    <div class="card-body col-sm-12 m-0 px-2 py-2 animated fadeIn">


            <div class="panel-body col-md-12 p-2">

                <div class="panel panel-info col-sm-12 m-0 p-0">
                    <div class="panel-body border col-sm-12">
                        <h6 class="text-on-pannel"><strong>Identification du / des répondant(s)</strong></h6>
                        <div class="row col-sm-12 p-2">
                            <form [formGroup]="registerForm" style="width:100%;margin:0px;padding:0px;">
                            <div id="table" class="table-editable col-sm-12 m-0 p-0" formArrayName="persons">
                                <table class="table table-bordered table-responsive-md table-striped text-center m-0 p-0" scrollX="false" scrollY="true" style="width:100%" maxHeight="200">
                                    <thead>
                                        <tr>
                                            <th class="offspaces text-center">
                                                <button class="btn btn-sm btn-success" (click)="add()"><i class="fa fa-plus" tooltip="Cliquez ici pour ajouter un nouveau repondant"></i></button>
                                            </th>
                                            <th class="offspaces bg-banq text-center align-middle">Titre<span class="required">*</span></th>
                                            <th class="offspaces bg-banq text-center align-middle">Nom<span class="required">*</span></th>
                                            <th class="offspaces bg-banq text-center align-middle">Prénom<span class="required">*</span></th>
                                            <th class="offspaces bg-banq text-center align-middle">Courriel<span class="required">*</span></th>
                                            <th class="offspaces bg-banq text-center align-middle">Téléphone</th>
                                            <th class="offspaces bg-banq text-center align-middle">Poste</th>
                                            <th class="offspaces bg-banq text-center align-middle">Suppr.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let person of persons.controls; let id = index" [formGroupName]="id">
                                            <td class="offspaces align-middle text-center">
                                                {{id+1}}
                                            </td>
                                            <td class="offspaces">
                                                <select required formControlName="title" class="form-control"  > <!-- [class.is-invalid]="person.get('title').value === ''" -->
                                              <option value="M.">M.</option>
                                              <option value="Mme">Mme</option>
                                          </select>
                                            </td>
                                            <td class="offspaces">
                                                <input type="text" required formControlName="firstname" class="form-control">
                                            </td>
                                            <td class="offspaces">
                                                <input type="text" required formControlName="lastname" class="form-control">
                                            </td>
                                            <td class="offspaces">
                                                <input type="text" required formControlName="email" class="form-control" >
                                            </td>
                                            <td class="offspaces">
                                                <table class="p-0 m-0" style="border:none"><tr>
                                                    <td class="p-0 m-0"><input matInput type="text" required formControlName="phoneArea" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number"/></td>
                                                    <td class="p-0 m-0"><input matInput type="text" required formControlName="phone3" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number" /></td>
                                                    <td class="p-0 m-0 align-middle bg-white">-</td>
                                                    <td class="p-0 m-0"><input matInput type="text" required formControlName="phone4" pattern="^\d{4}$" class="form-control telephone4 divCentrer bg-white" maxlength="4" size="4" app-numeric numericType="number" /></td>
                                                  </tr></table>
                                            </td>
                                            <td class="offspaces">
                                                <input type="text" formControlName="poste" class="form-control">
                                            </td>
                                            <td class="offspaces">
                                                <button type="button" *ngIf="id > 0" rounded="true" size="sm" class="btn btn-danger my-0" (click)="remove(id)" tooltip="Cliquez ici pour supprimer la ligne"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>

                <form #frmSignup="ngForm">
                <div class="panel panel-info py-3">
                    <div class="panel-body border">
                        <h6 class="text-on-pannel"><strong>Information sur l'éditeur</strong></h6>
                        <div class="row p-2">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="name">Editeur<span class="required">*</span><br><small class="hintText">(Nom de l'entreprise, de <br>l'organisme ou de la personne)</small> </span>
                                    </div>&nbsp;
                                    <textarea required #txtInfos="ngModel" [(ngModel)]="editor.nom" class="form-control" name="txtInfos" rows="2"></textarea>
                                </div>
                                <small style="font-weight: bold; font-size: 9px; color:grey; padding-left: 140px">Le contenu ne peut pas excéder 500 caractères.</small>
                            </div>

                            <div class="col-sm-12 py-2 m-0">
                              <table class="w100 p-0 m-0">
                                <tr>
                                  <td style="width: 50%;">
                                      <div class="input-group">
                                          <div class="input-group-prepend"><span class="name">Adresse<span class="required">*</span><br><small class="hintText">(Numéro d'immeuble / Rue)</small></span>
                                          </div>&nbsp;
                                          <input type="text" name="txtAdrPos1" required #txtAdrPos1="ngModel" class="form-control" [(ngModel)]="editor.adresse1" placeholder="">
                                      </div>
                                  </td>
                                  <td>&nbsp;</td>
                                  <td style="width: 50%;">
                                      <div class="input-group">
                                          <div class="input-group-prepend"><span class="name">Adresse<br><small class="hintText">Appart, Bureau ou Case postale</small></span></div>&nbsp;
                                          <input type="text" name="txtAdrPos2" #txtAdrPos2="ngModel" class="form-control" [(ngModel)]="editor.adresse2" placeholder="">
                                      </div>
                                  </td>
                                </tr>
                              </table>
                            </div>

                          <div class="col-sm-12 py-2 m-0">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="name">Ville<span class="required">*</span></span></div>&nbsp;
                                        <div class="p-0 m-0">
                                            <input required matInput type="text" [formControl]="searchCitiesCtrl" [matAutocomplete]="auto" [class.is-invalid]="searchCitiesCtrl.invalid && searchCitiesCtrl.touched" class="form-control border" [(ngModel)]="editor.ville" maxlength="30">
                                            <mat-autocomplete #auto="matAutocomplete" >
                                              <mat-option *ngFor="let city of cities | async" [value]="city.city">{{city.city}}</mat-option>
                                            </mat-autocomplete>
                                        </div>
                                        <!-- <input type="text" name="cbxCity1"  required #cbxCity1="ngModel" class="form-control" [(ngModel)]="editor.ville" placeholder="" maxlength="30">-->
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="name">Province/Territoire<span class="required">*</span></span>
                                        </div>&nbsp;
                                        <select required #cbxState1="ngModel" class="form-control" name="cbxState1" [(ngModel)]="editor.provinceTerritoire">
                                            <option *ngFor="let item of states" value="{{item.name}}" >{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="small-name">Pays<span class="required">*</span></span></div>&nbsp;
                                        <input type="text" name="cbxCountry1" required #cbxCountry1="ngModel" class="form-control" [(ngModel)]="editor.pays" placeholder="" maxlength="7">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 py-2 m-0">
                          <div class="input-group">
                              <div class="input-group-prepend"><span class="name">Code Postal<span class="required">*</span></span></div>&nbsp;
                              <div style="width: 100px">
                              <input type="text" name="txtCPos1" required #txtCPos1="ngModel" class="form-control" [(ngModel)]="editor.codePostal" placeholder="" maxlength="7"></div>
                          </div>
                      </div>


                      <div class="col-sm-12 px-3 my-2">
                        <div class="row col-sm-12">
                          <table>
                            <tr>
                              <td>
                                  <div class="row input-group m-0 p-0">
                                      <div class="input-group-prepend"><span class="name">Téléphone<span class="required">*</span></span></div>&nbsp;
                                      <div class="p-0 m-0 border">
                                          <table class="p-0 m-0" style="border:none"><tr>
                                              <td class="p-0 m-0"><input matInput type="text" required #txtPhoneArea1="ngModel" name="txtPhoneArea1" [(ngModel)]="phone.prefx" pattern="^\d{3}$" class="form-control telephone3 divCentrer" maxlength="3" size="3" app-numeric numericType="number" /></td>
                                              <td class="p-0 m-0"><input matInput type="text" required #txtPhone31="ngModel" name="txtPhone31" [(ngModel)]="phone.sufx" pattern="^\d{3}$" class="form-control telephone3 divCentrer" maxlength="3" size="3" app-numeric numericType="number" /></td>
                                              <td class="p-0 m-0">-</td>
                                              <td class="p-0 m-0"><input matInput type="text" required #txtPhone41="ngModel" name="txtPhone41" [(ngModel)]="phone.racine" pattern="^\d{4}$"  class="form-control telephone4 divCentrer" maxlength="4" size="4" app-numeric numericType="number" /></td>
                                            </tr></table>
                                      </div>
                                  </div>
                              </td>

                              <td>
                                  <div class="input-group p-0 m-0 align-middle">
                                      <div class="input-group-prepend p-0 m-0">
                                        <div class="input-group-prepend"><span>Confidentiel<span class="required">*</span></span></div>&nbsp;
                                        <div class="px-4 m-0 align-content-end">
                                            <input class="form-check-input" type="checkbox" name="chkConf1" [(ngModel)]="editor.confidentialPhone" required #chkConf1="ngModel">
                                        </div>
                                      </div>
                                  </div>
                              </td>

                              <td>
                                  <div class="input-group">
                                      <div class="input-group-prepend"><span class="small-name">Poste</span></div>&nbsp;
                                      <input type="text" name="txtPoste1" #txtPoste1="ngModel" class="form-control" [(ngModel)]="editor.poste" placeholder="" maxlength="10">
                                  </div>
                              </td>
                            </tr>
                          </table>

                        </div>
                    </div>
                    <div class="col-sm-12 px-3 my-2">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="name">Télécopieur</span></div>&nbsp;
                            <div class="p-0 m-0 border">
                                <table class="p-0 m-0" style="border:none"><tr>
                                    <td class="p-0 m-0"><input matInput type="text" #txtTelecopieurArea1="ngModel" name="txtTelecopieurArea1" [(ngModel)]="telecop.racine" pattern="^\d{3}$" class="form-control telephone3 divCentrer" maxlength="3" size="3" app-numeric numericType="number"/></td>
                                    <td class="p-0 m-0"><input matInput type="text" #txtTelecopieur3="ngModel" name="txtTelecopieur3" [(ngModel)]="telecop.sufx" pattern="^\d{3}$" class="form-control telephone3 divCentrer" maxlength="3" size="3" app-numeric numericType="number" /></td>
                                    <td class="p-0 m-0">-</td>
                                    <td class="p-0 m-0"><input matInput type="text" #txtTelecopieur4="ngModel" name="txtTelecopieur4" [(ngModel)]="telecop.racine" pattern="^\d{4}$"  class="form-control telephone4 divCentrer" maxlength="4" size="4" app-numeric numericType="number" /></td>
                                  </tr></table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 px-3 my-2">
                      <div class="input-group">
                          <div class="input-group-prepend"><span class="name">Courriel</span></div>&nbsp;
                          <input type="text" name="txtCourriel1" #txtCourriel1="ngModel" class="form-control" [(ngModel)]="editor.courriel" placeholder="" maxlength="50">
                      </div>
                  </div>
                  <div class="col-sm-12 px-3 my-2">
                      <div class="input-group">
                          <div class="input-group-prepend"><span class="name">Site Internet</span></div>&nbsp;
                          <input type="text" name="txtSite1" #txtSite1="ngModel" class="form-control" [(ngModel)]="editor.siteInternet" placeholder="" maxlength="50">
                      </div>
                  </div>
                  <div class="col-sm-12 py-2 m-0">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="name">Commentaires</span></div>&nbsp;
                        <textarea class="form-control" rows="2" name="txtComments1" #txtComments1="ngModel" [(ngModel)]="editor.commentaires"></textarea>
                    </div>
                    <div style="padding-left: 140px;"><small style="font-weight: bold; font-size: 9px; color:grey">Le contenu ne peut pas excéder 2000 caractères</small></div>
                </div>
                <div class="col-sm-12 px-10 m-0"><small style="font-weight: bold; font-size: 9px">* Si votre demande vise à obtenir des numéros ISBN, vos coordonnées paraîtront au Bottin des éditeurs francophones canadiens, sauf le numéro de téléphone si celui-ci est confidentiel.</small></div>




                        </div>
                    </div>
                </div>

              </form>
            </div>


    </div>
    <div class="card-footer">
        <div class=" form-inline d-flex justify-content-end px-5">
            <button type="submit" class="btn btn-sm btn-primary" data-toggle="modal" (click)="submit()"><i class="fa fa-dot-circle-o"></i>&nbsp;Soumettre une demande de modification</button>&nbsp;<!--  [disabled]="frmSignup.form.invalid && registerForm.invalid" -->
            <button type="reset" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-plus"></i>&nbsp;Quitter</button>
        </div>
    </div>

</div>
