<br><br>

<app-alert-dialog [myAlert]="myAlert"></app-alert-dialog>

<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12">

                    <div *ngIf="errs.length > 0">
                        <ul>
                          <li *ngFor="let err of errs">
                              <span style="font-weight:bold; color:red; font-size: 12px"><i class="rounded bg-danger fa fa-warning" style="padding: 2px"></i>&nbsp;{{err}}</span>
                          </li>
                        </ul>
                        <br>
                      </div>

                    <div class="card m-0 p-0">
                        <div class="p-2 bg-banq justify-content-center text-center">
                          <strong style="font-size: 15px">Formulaire d'inscription à l'extranet</strong>

                        </div>
                        <div class="card-body col-sm-12 m-0 px-2 py-2 animated fadeIn">


                                <div class="panel-body col-md-12 p-2">

                                    <div class="panel panel-info col-sm-12 m-0 p-0">
                                        <div class="panel-body border col-sm-12">
                                            <h6 class="text-on-pannel"><strong>Identification du / des demandeur(s) :</strong></h6>
                                            <div class="row col-sm-12 p-2">
                                                <form [formGroup]="registerForm" style="width:100%;margin:0px;padding:0px;">
                                                <div id="table" class="table-editable col-sm-12 m-0 p-0" formArrayName="persons">
                                                    <table class="table table-bordered table-responsive-md table-striped text-center m-0 p-0" scrollX="false" scrollY="true" style="width:100%" maxHeight="200">
                                                        <thead>
                                                            <tr>
                                                                <th class="offspaces text-center">
                                                                    <button class="btn btn-sm btn-success" (click)="add()"><i class="fa fa-plus" tooltip="Cliquez ici pour ajouter un nouveau repondant"></i></button>
                                                                </th>
                                                                <th class="offspaces bg-banq text-center align-middle">Titre<span class="required">*</span></th>
                                                                <th class="offspaces bg-banq text-center align-middle">Nom<span class="required">*</span></th>
                                                                <th class="offspaces bg-banq text-center align-middle">Prénom<span class="required">*</span></th>
                                                                <th class="offspaces bg-banq text-center align-middle">Courriel<span class="required">*</span></th>
                                                                <th class="offspaces bg-banq text-center align-middle">Téléphone</th>
                                                                <th class="offspaces bg-banq text-center align-middle">Poste</th>
                                                                <th class="offspaces bg-banq text-center align-middle">Suppr.</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let person of persons.controls; let id = index" [formGroupName]="id">
                                                                <td class="offspaces align-middle text-center">
                                                                    {{id+1}}
                                                                </td>
                                                                <td class="offspaces">
                                                                    <select required formControlName="title" class="form-control"  > <!-- [class.is-invalid]="person.get('title').value === ''" -->
                                                                  <option value="M.">M.</option>
                                                                  <option value="Mme">Mme</option>
                                                              </select>
                                                                </td>
                                                                <td class="offspaces">
                                                                    <input type="text" required formControlName="firstname" class="form-control">
                                                                </td>
                                                                <td class="offspaces">
                                                                    <input type="text" required formControlName="lastname" class="form-control">
                                                                </td>
                                                                <td class="offspaces">
                                                                    <input type="text" required formControlName="email" class="form-control" >
                                                                </td>
                                                                <td class="offspaces">
                                                                    <table class="p-0 m-0" style="border:none"><tr>
                                                                        <td class="p-0 m-0"><input matInput type="text" required formControlName="phoneArea" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number"/></td>
                                                                        <td class="p-0 m-0"><input matInput type="text" required formControlName="phone3" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number" /></td>
                                                                        <td class="p-0 m-0 align-middle bg-white">-</td>
                                                                        <td class="p-0 m-0"><input matInput type="text" required formControlName="phone4" pattern="^\d{4}$" class="form-control telephone4 divCentrer bg-white" maxlength="4" size="4" app-numeric numericType="number" /></td>
                                                                      </tr></table>
                                                                    <!-- <input type="text" [id]="'phone' + id" required [name]="'txtRepPhone' + id" formControlName="phone" class="form-control" pattern="^\d{10}$" [class.is-invalid]="registerForm.get('phone').invalid && registerForm.get('phone').touched" > -->
                                                                </td>
                                                                <td class="offspaces">
                                                                    <input type="text" formControlName="poste" class="form-control">
                                                                </td>
                                                                <td class="offspaces">
                                                                    <button type="button" *ngIf="id > 0" rounded="true" size="sm" class="btn btn-danger my-0" (click)="remove(id)" tooltip="Cliquez ici pour supprimer la ligne"><i class="fa fa-remove"></i></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                              </form>
                                            </div>
                                        </div>
                                    </div>

                                    <form #frmSignup="ngForm">
                                    <div class="panel panel-info py-3">
                                        <div class="panel-body border">
                                            <h6 class="text-on-pannel"><strong>Information sur l'éditeur</strong></h6>
                                            <div class="row p-2">
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="name">Editeur<span class="required">*</span><br><small class="hintText">(Nom de l'entreprise, de <br>l'organisme ou de la personne)</small> </span>
                                                        </div>&nbsp;
                                                        <textarea required #txtInfos="ngModel" [(ngModel)]="editor.nom" class="form-control" name="txtInfos" rows="2"></textarea> <!--  [class.is-invalid]="txtInfos.invalid && txtInfos.touched" -->
                                                    </div>
                                                    <small style="font-weight: bold; font-size: 9px; color:grey; padding-left: 140px">Le contenu ne peut pas excéder 500 caractères.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-info py-3 m-0">
                                        <div class="panel-body border p-0 m-0">
                                            <h6 class="text-on-pannel"><strong>Adresse</strong></h6>
                                            <div class="row p-2 justify-content-center">
                                                <div class="" style="width: 95%">
                                                    <div class="col-sm-12 py-2 m-0">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend"><span class="name">Adresse Postale<span class="required">*</span></span>
                                                            </div>&nbsp;
                                                            <input type="text" name="txtAdrPos1" required #txtAdrPos1="ngModel" class="form-control" [(ngModel)]="editor.adresse1" placeholder=""> <!--  [class.is-invalid]="txtAdrPos1.invalid && txtAdrPos1.touched" -->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 py-2 m-0">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend"><span class="name">Adresse Postale 2</span></div>&nbsp;
                                                            <input type="text" name="txtAdrPos2" #txtAdrPos2="ngModel" class="form-control" [(ngModel)]="editor.adresse2" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 py-2 m-0">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend"><span class="name">Ville<span class="required">*</span></span>
                                                                    </div>&nbsp;
                                                                    <!-- <input type="text" name="cbxCity1"  required #cbxCity1="ngModel" class="form-control" [(ngModel)]="editor.ville" placeholder="" maxlength="30">  -->
                                                                    <div class="p-0 m-0">
                                                                      <!-- <mat-form-field class="p-0 m-0 border"></mat-form-field>  -->
                                                                        <input required matInput type="text" [formControl]="searchCitiesCtrl" [matAutocomplete]="auto" [class.is-invalid]="searchCitiesCtrl.invalid && searchCitiesCtrl.touched" class="form-control border" [(ngModel)]="editor.ville" maxlength="30">
                                                                        <mat-autocomplete #auto="matAutocomplete" >
                                                                          <mat-option *ngFor="let city of cities | async" [value]="city.city">{{city.city}}</mat-option>
                                                                        </mat-autocomplete>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend"><span class="name">Province/Territoire<span class="required">*</span></span>
                                                                    </div>&nbsp;
                                                                    <select required #cbxState1="ngModel" class="form-control" name="cbxState1" [(ngModel)]="editor.provinceTerritoire"> <!--  [class.is-invalid]="cbxState1.invalid && cbxState1.touched" -->
                                                                        <option *ngFor="let item of states" value="{{item.name}}" >{{item.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend"><span class="small-name">Pays<span class="required">*</span></span></div>&nbsp;
                                                                    <input type="text" name="cbxCountry1" required #cbxCountry1="ngModel" class="form-control" [(ngModel)]="editor.pays" placeholder="" maxlength="7"> <!--  [class.is-invalid]="cbxCountry1.invalid && cbxCountry1.touched" -->
                                                                    <!--
                                                                    <select required #cbxCountry1="ngModel" [class.is-invalid]="cbxCountry1.invalid && cbxCountry1.touched" class="form-control" name="cbxCountry1" [(ngModel)]="editor.pays" placeholder="">
                                                            <option value="Canada" selected>Canada</option>
                                                          <option <span class="required">*</span>ngFor="let item of countries" value="{{item.name}}" >{{item.name}}</option>
                                                        </select> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 py-2 m-0">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend"><span class="name">Code Postal<span class="required">*</span></span></div>&nbsp;
                                                            <div style="width: 100px">
                                                            <input type="text" name="txtCPos1" required #txtCPos1="ngModel" class="form-control" [(ngModel)]="editor.codePostal" placeholder="" maxlength="7"></div> <!--  [class.is-invalid]="txtCPos1.invalid && txtCPos1.touched" -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 px-3 my-2">
                                                    <div class="row col-sm-12">
                                                        <div class="col-sm-4 p-0 m-0 align-content-start">
                                                            <div class="row input-group m-0 p-0">
                                                                <div class="input-group-prepend"><span class="name">Téléphone<span class="required">*</span></span></div>&nbsp;
                                                                <div class="p-0 m-0 border">
                                                                    <table class="p-0 m-0" style="border:none"><tr>
                                                                        <td class="p-0 m-0 border"><input matInput type="text" required #txtPhoneArea1="ngModel" name="txtPhoneArea1" [(ngModel)]="phone.prefx" pattern="^\d{3}$" class="form-control telephone3 divCentrer" maxlength="3" size="3" app-numeric numericType="number"/></td> <!--  [class.is-invalid]="txtPhoneArea1.invalid && txtPhoneArea1.touched" -->
                                                                        <td class="p-0 m-0 border"><input matInput type="text" required #txtPhone31="ngModel" name="txtPhone31" [(ngModel)]="phone.sufx" pattern="^\d{3}$" class="form-control telephone3 divCentrer" maxlength="3" size="3" app-numeric numericType="number" /></td> <!-- [class.is-invalid]="txtPhone31.invalid && txtPhone31.touched" -->
                                                                        <td class="p-0 m-0">-</td>
                                                                        <td class="p-0 m-0 border"><input matInput type="text" required #txtPhone41="ngModel" name="txtPhone41" [(ngModel)]="phone.racine" pattern="^\d{4}$"  class="form-control telephone4 divCentrer" maxlength="4" size="4" app-numeric numericType="number" /></td> <!-- [class.is-invalid]="txtPhone41.invalid && txtPhone41.touched" -->
                                                                      </tr></table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 align-middle">

                                                            <div class="input-group p-0 m-0 align-middle">
                                                                <div class="input-group-prepend p-0 m-0">
                                                                  <div class="input-group-prepend"><span>Confidentiel<span class="required">*</span></span></div>&nbsp;
                                                                  <div class="px-4 m-0 align-content-end">
                                                                      <input class="form-check-input" type="checkbox" name="chkConf1" [(ngModel)]="editor.confidentialPhone" required #chkConf1="ngModel"> <!--  [class.is-invalid]="!chkConf1.value && chkConf1.touched" -->
                                                                  </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <div class="col-sm-2 p-0 m-0 align-content-end">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span class="small-name">Poste</span></div>&nbsp;
                                                                <input type="text" name="txtPoste1" #txtPoste1="ngModel" class="form-control" [(ngModel)]="editor.poste" placeholder="" maxlength="10">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-2"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 px-3 my-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="name">Télécopieur</span></div>&nbsp;
                                                        <div class="p-0 m-0 border">
                                                            <table class="p-0 m-0" style="border:none"><tr>
                                                                <td class="p-0 m-0 border"><input matInput type="text" #txtTelecopieurArea1="ngModel" name="txtTelecopieurArea1" [(ngModel)]="telecop.prefx" pattern="^\d{3}$" class="form-control telephone3 divCentrer" maxlength="3" size="3" app-numeric numericType="number"/></td>
                                                                <td class="p-0 m-0 border"><input matInput type="text" #txtTelecopieur3="ngModel" name="txtTelecopieur3" [(ngModel)]="telecop.sufx" pattern="^\d{3}$" class="form-control telephone3 divCentrer" maxlength="3" size="3" app-numeric numericType="number" /></td>
                                                                <td class="p-0 m-0">-</td>
                                                                <td class="p-0 m-0 border"><input matInput type="text" #txtTelecopieur4="ngModel" name="txtTelecopieur4" [(ngModel)]="telecop.racine" pattern="^\d{4}$"  class="form-control telephone4 divCentrer" maxlength="4" size="4" app-numeric numericType="number" /></td>
                                                              </tr></table>
                                                        </div>
                                                        <!-- <input type="text" name="txtTeleCopieur1" #txtTeleCopieur1="ngModel" class="form-control" [(ngModel)]="editor.telecopieur" placeholder="Telecopieur..."> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 px-3 my-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="name">Courriel</span></div>&nbsp;
                                                        <input type="text" name="txtCourriel1" #txtCourriel1="ngModel" class="form-control" [(ngModel)]="editor.courriel" placeholder="" maxlength="50">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 px-3 my-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="name">Site Internet</span></div>&nbsp;
                                                        <input type="text" name="txtSite1" #txtSite1="ngModel" class="form-control" [(ngModel)]="editor.siteInternet" placeholder="" maxlength="50">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 px-3 my-2">
                                                    <div class="input-group border p-2">
                                                        <h6>Si vous prévoyez déposer des publications numériques, veuillez cocher le type de publication :</h6>
                                                        <div class="input-group px-5">
                                                            <input class="form-check-input" #chkPubLibre1="ngModel" type="checkbox" name="chkPubLibre1" [(ngModel)]="editor.extranetPourPublicationAccesLibre">
                                                            <label class="form-check-label" for="chkPubLibre1">Publications numériques gratuites (libre d'accès) </label>
                                                        </div>
                                                        <div class="input-group px-5">
                                                            <input class="form-check-input" #chkPubCom1="ngModel" type="checkbox" name="chkPubCom1" [(ngModel)]="editor.extranetPourPublicationAccesRestreint">
                                                            <label class="form-check-label" for="chkPubCom1">Publications numériques commerciales (accès restreint)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 py-2 m-0">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="name">Commentaires</span></div>&nbsp;
                                                        <textarea class="form-control" rows="2" name="txtComments1" #txtComments1="ngModel" [(ngModel)]="editor.commentaires"></textarea>
                                                    </div>
                                                    <div style="padding-left: 140px;"><small style="font-weight: bold; font-size: 9px; color:grey">Le contenu ne peut pas excéder 2000 caractères</small></div>
                                                </div>

                                                <div class="col-sm-12 px-10 m-0"><small style="font-weight: bold; font-size: 9px">* Si votre demande vise à obtenir des numéros ISBN, vos coordonnées paraîtront au Bottin des éditeurs francophones canadiens, sauf le numéro de téléphone si celui-ci est confidentiel.</small></div>
                                            </div>


                                          </div>
                                    </div>
                                  </form>
                                </div>


                        </div>
                        <div class="card-footer">
                            <div class=" form-inline d-flex justify-content-end px-5">
                                <button type="button" hidden class="btn btn-sm btn-dark"><i class="fa fa-ban"></i>&nbsp;Test Waiting</button>&nbsp;
                                <button type="reset" mat-button class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>&nbsp;Effacer tout</button>&nbsp;
                                <button type="submit" mat-button class="btn btn-sm btn-primary" data-toggle="modal" (click)="submit()"><i class="fa fa-dot-circle-o"></i>&nbsp;Soumettre</button>&nbsp;<!--  [disabled]="frmSignup.form.invalid && registerForm.invalid" -->
                                <button type="reset" mat-button class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-plus"></i>&nbsp;Fermer</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
<br><br>

<!--
<div class="modal-pnl" *ngIf="isLoading | async">Loading...
  <mat-spinner *ngIf="isLoading | async" mode="indeterminate" color="warn" style="position: absolute; top: 0; z-index: 100;"></mat-spinner>
</div> -->
