
.w100{
  width: 100%;
}
.telephone3{width:40px;padding-left:0 !important}
.telephone4{width:50px;padding-left:0 !important}
.divCentrer{text-align:center;}

.text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 3px;
    position: absolute;
    margin-top: -15px;
    border: 1px solid #fff/*cfd8dc*/
    ;
    color: dimgray;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
}

.offspaces {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.nullspaces {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.noborders {
    border: none;
}

.bg-banq {
    background-color: #d3dfc7/*#c5e1a5*/
    ;
    font-weight: bold;
    color: black;
    font-size: 11px;
}

.name {
    vertical-align: top;
    /*float: left;
	clear:left; */
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    justify-content: flex-end;
    color: #000;
    width: 130px;
    min-height: 20px;
    /*max-height: 30px;*/
    min-width: 120px;
    /*max-width:250px;*/
    background-color: #d3dfc7;
    border: 1px solid #c8c8c8;
}

.small-name {
    vertical-align: top;
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    color: #000;
    /*width: 75px;*/
    min-height: 20px;
    /*max-height: 30px;
    min-width: 120px;*/
    /*max-width:250px;*/
    background-color: #d3dfc7;
    border: 1px solid #c8c8c8;
}

.hintText {
    font-size: 75%;
    font-style: italic;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.required {
    color: #FF0000;
    padding-left: 5px;
}
