
<div class="card m-0 p-0">
  <!-- HEADER -->
  <div class="p-2 bg-banq justify-content-center text-center">
      <strong style="font-size: 15px">Vos numéros ISBN</strong>
  </div>

  <!-- BODY -->
  <div class="card-body col-sm-12 m-0 animated fadeIn">

    <div>
        <div class="input-group">
            <div class="input-group-prepend"><span class="name">Séquence ISBN</span>
            </div>&nbsp;
            <select class="form-control" >
                <option value="978-2-924809" >978-2-924809</option>
            </select>
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend"><span class="name">Titre</span></div>&nbsp;
            <input type="text" class="form-control">
        </div>
        <div class="w100 form-inline d-flex justify-content-end">
            <button type="button" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-check"></i>&nbsp;Soumettre</button>
        </div>
        <div class="w100 p-2 my-3 border">
            <table id="tblIsbn" datatable class="table table-bordered table-sm table-responsive-sm table-striped row-border hover m-0 p-0 w100" scrollX="false" scrollY="true" maxHeight="800">
                <thead>
                    <tr>
                        <th class="th-sm offspaces bg-banq text-center align-middle">Numéro ISBN</th>
                        <th class="th-sm offspaces bg-banq text-center align-middle">Titre</th>
                        <th class="th-sm offspaces bg-banq text-center align-middle">Actif</th>
                        <th class="th-sm offspaces bg-banq text-center align-middle">Format de la publication</th>
                        <th class="th-sm offspaces bg-banq text-center align-middle">Date de publication</th>
                        <th class="th-sm offspaces bg-banq text-center align-middle">&nbsp;</th>
                        <th class="th-sm offspaces bg-banq text-center align-middle">&nbsp;</th>
                    </tr>
                </thead>
              </table>

        </div>
    </div>

    <div class="my-2 p-2 border">
        <div class="input-group">
            <div class="input-group-prepend"><span class="name">Séquence ISBN<br>actuelle</span>
            </div>&nbsp;
            <input type="text"  class="form-control" readonly="true" value="978-2-924809" >
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend"><span class="name">Titre</span></div>&nbsp;
            <input type="text"  class="form-control" readonly="true" >
        </div>
    </div>

    <a href="#">Générer un numéro ISBN</a>
    <div class="w100 form-inline d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-times"></i>&nbsp;Affichage par défaut</button>&nbsp;
    </div>
  </div>

  <!-- FOOTER -->
  <div class="card-footer">
    <div class=" form-inline d-flex justify-content-start">
        <button type="button" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-arrow-left"></i>&nbsp;Retour</button>&nbsp;
    </div>
  </div>

</div>

