
<app-alert-dialog [myAlert]="myAlert"></app-alert-dialog>


<div *ngIf="errs.length > 0">
  <ul>
    <li *ngFor="let err of errs">
      <span style="font-weight:bold; color:red; font-size: 12px"><i class="rounded bg-danger fa fa-warning" style="padding: 2px"></i>&nbsp;{{err}}</span>
    </li>
  </ul>
  <br>
</div>

<div class="card m-0 p-0">
<div class="p-2 bg-banq justify-content-center text-center">
<strong style="font-size: 15px">Formulaire de dépôt légal - Monographie</strong>

</div>
<div class="card-body col-sm-12 m-0 px-2 py-2 animated fadeIn">


    <div class="panel-body col-sm-12 p-2">
        <p><b>IMPORTANT:</b> assurez-vous de mettre à jour régulièrement la liste des répondants qui sont associés à votre Éditeur via votre dossier.</p>
        <form #frmDepol="ngForm" class="w100">

        <div class="w100 p-0 m-2">
          <table class="p-0 m-0 w100">
            <tr>
              <td class="align-left" style="width:50%; vertical-align: top">
                  <div class="input-group w100">
                      <div class="input-group-prepend"><span class="name">Dépôt fait par</span></div>&nbsp;
                      <select class="form-control">
                          <option>item</option>
                      </select>
                  </div>
              </td>
              <td class="align-right" style="width:50%">
                  <table class="table table-bordered table-responsive-md table-striped text-center w100 m-0 p-0" scrollX="false" scrollY="true" maxHeight="200">
                      <thead>
                          <tr>
                              <th class="offspaces text-center">
                                  <button class="btn btn-sm btn-success"><i class="fa fa-plus"></i></button>
                              </th>
                              <th class="offspaces bg-banq text-center align-middle">Courriels pour les communiqués</th>
                              <th class="offspaces bg-banq text-center align-middle">Suppr.</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="offspaces align-middle text-center">1</td>
                              <td class="offspaces">
                                  <select class="form-control" >
                                      <option></option>
                                  </select>
                              </td>
                              <td class="offspaces align-middle text-center">
                                  <button type="button" rounded="true" size="sm" class="btn btn-sm btn-danger my-0"><i class="fa fa-remove"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>

              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-12 p-0 m-2">
          <div class="input-group">
              <div class="input-group-prepend"><span class="name">Titre</span></div>&nbsp;
              <textarea class="form-control" rows="2"></textarea>
          </div>
          <div style="padding-left: 140px;"><small style="font-weight: bold; font-size: 9px; color:grey">Le contenu ne peut pas excéder 2000 caractères.</small></div>
      </div>
      <div class="col-sm-12 p-0 m-2">
          <div class="input-group">
              <div class="input-group-prepend"><span class="name">Titre original</span></div>&nbsp;
              <textarea class="form-control" rows="2"></textarea>
          </div>
          <div style="padding-left: 140px;"><small style="font-weight: bold; font-size: 9px; color:grey">Le contenu ne peut pas excéder 2000 caractères.</small></div>
      </div>

      <div class="col-sm-12 p-0 m-2">
          <div class="panel-body border p-0 m-0">
              <h6 class="text-on-pannel"><strong>Auteur(s)</strong></h6>
              <div class="w100">
                <table class="p-0 m-0 w100">
                  <tr>
                    <td style="width: 19%">
                      &nbsp;
                    </td>
                    <td style="width: 81%">

                        <div class="w100 p-0 m-0 justify-content-end align-right">
                            <table class="table table-bordered table-responsive-md table-striped text-center w100 m-0 p-0" scrollX="false" scrollY="true" maxHeight="200">
                                <thead>
                                    <tr>
                                        <th class="offspaces text-center">
                                            <button class="btn btn-sm btn-success"><i class="fa fa-plus"></i></button>
                                        </th>
                                        <th class="offspaces bg-banq text-center align-middle">Nom</th>
                                        <th class="offspaces bg-banq text-center align-middle">Prénom</th>
                                        <th class="offspaces bg-banq text-center align-middle">Date de naissance</th>
                                        <th class="offspaces bg-banq text-center align-middle">Pseudonyme (s'il y a lieu)</th>
                                        <th class="offspaces bg-banq text-center align-middle">Suppr.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="offspaces align-middle text-center">1</td>
                                        <td class="offspaces">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="offspaces">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="offspaces">
                                            <table class="p-0 m-0" style="border:none"><tr>
                                                <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number" placeholder="jj"/></td>
                                                <td class="p-0 m-0"><input matInput type="text" pattern="^\d{3}$" class="form-control telephone3 divCentrer bg-white" maxlength="3" size="3" app-numeric numericType="number" placeholder="mm"/></td>
                                                <td class="p-0 m-0"><input matInput type="text" pattern="^\d{4}$" class="form-control telephone4 divCentrer bg-white" maxlength="4" size="4" app-numeric numericType="number" placeholder="aaaa"/></td>
                                              </tr></table>
                                        </td>
                                        <td class="offspaces">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="offspaces align-middle text-center">
                                            <button type="button" rounded="true" size="sm" class="btn btn-sm btn-danger my-0"><i class="fa fa-remove"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>

                      </td>
                    </tr>
                </table>

              </div>
          </div>

      </div>

      <div class="col-sm-12 p-0 m-2">
          <div class="input-group">
              <div class="input-group-prepend"><span class="name">Éditeur<br><small class="hintText">(si différent du déposant)</small></span></div>&nbsp;
              <textarea class="form-control" rows="2"></textarea>
          </div>
          <div style="padding-left: 140px;"><small style="font-weight: bold; font-size: 9px; color:grey">Le contenu ne peut pas excéder 500 caractères.</small></div>
      </div>

      <div class="col-sm-12 p-0 m-2">
          <div class="input-group">
              <div class="input-group-prepend"><span class="name">Lieu de publication<br>(ville)<br><small class="hintText">(si différent du déposant)</small></span></div>&nbsp;
              <textarea class="form-control" rows="2"></textarea>
          </div>
          <div style="padding-left: 140px;"><small style="font-weight: bold; font-size: 9px; color:grey">Le contenu ne peut pas excéder 500 caractères.</small></div>
      </div>


      <div class="col-sm-12 p-0 m-2">
          <div class="panel-body border p-0 m-0">
              <h6 class="text-on-pannel"><strong>Section Monographie</strong></h6>
              <div class="w100">
                <table class="w100 p-0 m-0">
                  <tr>
                    <td style="width: 19%"></td>
                    <td style="width: 81%">

                        <div class="w100 p-0 m-0">
                            <table class="table table-bordered table-responsive-md table-striped text-center w100 m-0 p-0" scrollX="false" scrollY="true" maxHeight="200">
                                <thead>
                                    <tr>
                                        <th class="offspaces bg-banq text-center align-middle">ISBN</th>
                                        <th class="offspaces bg-banq text-center align-middle">Prix de détail</th>
                                        <th class="offspaces bg-banq text-center align-middle">Tirage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="offspaces">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="offspaces">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="offspaces">
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                  </tr>
                </table>

              </div>
          </div>

      </div>


      <div class="col-sm-12 p-0 m-2">
          <div class="input-group">
              <div class="input-group-prepend"><span class="name">Année de<br>publication</span></div>&nbsp;
              <input type="text" class="form-control" style="width: 80px">
          </div>
      </div>

      <div class="col-sm-12 p-0 m-2">
          <div class="input-group">
              <div class="input-group-prepend"><span class="name">Remarques</span></div>&nbsp;
              <textarea class="form-control" rows="2"></textarea>
          </div>
          <div style="padding-left: 140px;"><small style="font-weight: bold; font-size: 9px; color:grey">Le contenu ne peut pas excéder 2000 caractères.</small></div>
      </div>





      </form>
    </div>


</div>
<div class="card-footer">
<div class=" form-inline d-flex justify-content-end px-5">
    <button type="reset" class="btn btn-sm btn-danger" ><i class="fa fa-ban"></i>&nbsp;Effacer tout</button>&nbsp;
    <button type="submit" class="btn btn-sm btn-primary" data-toggle="modal" ><i class="fa fa-dot-circle-o"></i>&nbsp;Soumettre</button>&nbsp;<!--  [disabled]="frmDepol.form.invalid && registerForm.invalid" -->
    <button type="reset" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-plus"></i>&nbsp;Retour</button>
</div>
</div>

</div>
