
<div class="card m-0 p-0">
  <!-- HEADER -->
  <div class="p-2 bg-banq justify-content-center text-center">
      <strong style="font-size: 15px">Consulter la liste des réclamations</strong>
  </div>

  <!-- BODY -->
  <div class="card-body col-sm-12 m-0 animated fadeIn">
      <table id="tblClaims" datatable class="table table-bordered table-sm table-responsive-sm table-striped row-border hover m-0 p-0" scrollX="false" scrollY="true" style="width:100%" maxHeight="800">
          <thead>
              <tr>
                  <th class="th-sm offspaces bg-banq text-center align-middle">Numéro d'avis</th>
                  <th class="th-sm offspaces bg-banq text-center align-middle">Titre</th>
                  <th class="th-sm offspaces bg-banq text-center align-middle">Niveau</th>
                  <th class="th-sm offspaces bg-banq text-center align-middle">Date 1iere réclamatiom</th>
                  <th class="th-sm offspaces bg-banq text-center align-middle">Date derniere réclamatiom</th>
                  <th class="th-sm offspaces bg-banq text-center align-middle">Liste des avis</th>
              </tr>
          </thead>
        </table>
  </div>

  <!-- FOOTER -->
  <div class="card-footer">
    <div class=" form-inline d-flex justify-content-start">
        <button type="reset" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-times"></i>&nbsp;Retour</button>
    </div>
  </div>

</div>

