
.offspaces {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.nullspaces {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.noborders {
  border: none;
}

.bg-banq {
  background-color: #d3dfc7/*#c5e1a5*/
  ;
  font-weight: bold;
  font-size: 11px;
  color: black;
}
