#pdp {
  border-top:1px solid #30aba1;
  font-weight:bold;
  clear:both;
  color:#8a8a8a;
  text-align:center;
  padding:5px;
         margin-top: 20px;
}

#pdp1 {
  text-align:center;

}
div.pdp2{
  font-size: 0.8em;
  /*width:15%;*/
  /*background-color:#BBBECD;*/


}
div.pdp2, div.pdp2 a:link, div.pdp2 a:visited {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #3E3E3E;
  line-height: 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;

}

div.pdp2 a:link, div.pdp2 a:visited {

  text-decoration: underline;

}

div.pdp2 a:hover,  div.pdp2 a:active {
   color: #60688b;
}

.smalltextatbottom { /* style pour 'Derniere modification:*/
  color: #3E3E3E;
  font-size: .8em;
  text-decoration: none;
         text-align : center;
}
.smalltextatbottom a, .smalltextatbottom a:link, .smalltextatbottom a:visited, .smalltextatbottom a:hover {
  color: #3E3E3E;
  text-decoration: underline;
}

a:link, a:visited {
  color:#00457b;
}
a.lien2:link, a.lien2:visited {
  font-weight:bold;
  color:#397aaa;
}
h1 {
  color:#3e3e3e;
  margin-top:0;
  font-size:1.6em;
}
h2 {
  color:#195d95;
  font-size:1.4em;
}
h3 {
  color:#3e3e3e;
  font-size:1.2em;
}

ul.square  {
  list-style-type:square;
  }

ul.none  {
  list-style-type:none;
  }

ul.liste_media {
  margin-top: -10px;
  }
ul.ListeLiensPage li {
  font-size: 0.80em;
  padding-top: 3px;
}

ul.ListeLiensPage li ul li {
  font-size: 0.90em;
  padding-top: 3px;
}
ul.ListeLiensPage li a {
  font-size: 1.20em;
}
a.pdf {
  background-image:url('/extranet/images/interface/ico_pdf.gif');
  background-repeat:no-repeat;
  background-position:center right;
  padding-right: 20px;
  margin-right: 2px;
}
