<div class="card m-0 p-0">
  <!--<div class="p-2 bg-banq justify-content-center text-center">
    <strong style="font-size: 15px">Licences d'autorisation accordées à BAnQ</strong>
  </div>-->
<div class="card-body col-sm-12 m-0 animated fadeIn">

    <div id="ColCentreIDEL">
        <h1>Pour nous joindre</h1>
        <div>
            Bibliothèque et Archives nationales du Québec<br>
            Service des acquisitions des collections patrimoniales<br>
            2275, rue Holt<br>
            Montréal (Québec) H2G 3H1
            <br><br>
            Télécopieur 514 873-4310
        </div>
        <h2>Publications imprimées</h2>
        <ul>
            <li>514 873-1101 poste 3780</li>
            <li>1 800 363-9028 (au Québec)</li>
            <li><a href="mailto:depot@banq.qc.ca?Subject=Dépôt%20légal%20des%20publications%20imprimées" >depot@banq.qc.ca</a></li>
        </ul>
        <h2>Publications numériques et collecte de sites web</h2>
        <ul>

            <li>
                Carole Gagné<br>
                514 873-1101 poste 3837
            </li>
            <li><a href="mailto:pubelectro@banq.qc.ca?Subject=Dépôt%20de%20publications%20numériques%20et%20Collecte%20de%20sites%20web" >pubelectro@banq.qc.ca</a></li>
        </ul>
        <h2>Agence ISBN</h2>
        <ul>
            <li>514 873-1101 poste 3785</li>
            <li>1 800 363-9028 poste 3785 (au Québec)</li>
            <li><a href="mailto:isbn@banq.qc.ca?Subject=Agence%20ISBN" >isbn@banq.qc.ca</a> </li>
        </ul>
        <h2>Extranet</h2>
        <ul>
           <li><a href="mailto:extranetediteur@banq.qc.ca?Subject=Extranet%20des%20éditeurs">extranetediteur@banq.qc.ca</a> </li>
        </ul>
        <br>
        <div>Utilisez cette adresse pour communiquer au sujet de questions techniques concernant l’extranet des éditeurs</div>
      </div>
      <div id="pdp"> </div>
      <div class="smalltextatbottom" id="menubaspage">
        Derni&egrave;re modification : 25 octobre 2019 -- Derni&egrave;re refonte : avril 2010<br><br>
        <a href="http://www.gouv.qc.ca" target="_blank" title="Portail du gouvernement du Québec"><img src="/extranet/assets/img/QUEBw1.gif" alt="Portail du gouvernement du Qu&eacute;bec" width="105" height="32"></a><br>
        <a href="http://www.droitauteur.gouv.qc.ca/copyright.php" target="_blank" title="&copy; Gouvernement du Qu&eacute;bec">&copy; Gouvernement du Qu&eacute;bec, 2006-2010</a><br><br>
      </div>


</div>

<div class="card-footer">
<div class=" form-inline d-flex justify-content-start">
    <button type="reset" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-times"></i>&nbsp;Retour</button>
</div>
</div>
</div>
