
<div class="card m-0 p-0">
    <div class="p-2 bg-banq justify-content-center text-center">
      <strong style="font-size: 15px">Licences d'autorisation accordées à BAnQ</strong>
    </div>
    <div class="card-body col-sm-12 m-0 animated fadeIn">

      <div class="col-sm-12 my-2">
        <div class="border p-2" style="background-color: rgb(237, 242, 233);">
            <h6><b>Licences accoordées :</b></h6>
            <div class="input-group px-2">
                <input type="checkbox" checked disabled="true">&nbsp;
                <label class="form-check-label">Publications numériques libre d'accès </label>
            </div>
            <div class="input-group px-2">
                <input type="checkbox" checked disabled="true">&nbsp;
                <label class="form-check-label">Publications numériques à accès restreint (commerciales)</label>
            </div>
            <div class="input-group px-2">
                <input type="checkbox" checked disabled="true">&nbsp;
                <label class="form-check-label">Sites Web</label>
            </div>
      </div>
    </div>

    <div *ngIf="licences.length > 0">
        <h6><b>Consulter les licences accordées :</b></h6>
        <ul style="list-style: none;">
          <li *ngFor="let lic of licences"> <a href="#">{{lic}}</a> </li>
        </ul>
      <br>
    </div>

    <div>
      <a [routerLink]="['/home/edit-licence']" routerLinkActive="router-link-active">Accorder une nouvelle licence d'autorisation...</a>
    </div>

</div>

<div class="card-footer">
  <div class=" form-inline d-flex justify-content-start">
      <button type="reset" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-times"></i>&nbsp;Retour</button>
  </div>
</div>
</div>


