
<!--BIG TITLE-->
<div class="big-title w100">Portail privé - parapublic</div>

<!--MESSAGES-->
<div class="p-10 w100"><p style='color:red'><b><i>Vous avez présentement des réclamations en cours.</i></b></p></div>
<div class="p-3 w100" *ngIf="!isConnected()"> <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Inscrivez-vous ici</a> </div>

<!--SMALL TITLE-->
<div class="small-title w100">Quoi de neuf</div>
<div class="col-sm-12 home-bande border">
  <table class="p-0 m-0 w100">
      <tr>
        <td class="justify-content-center" style="width:75%"><span style="color:#010302;font-size: 170%;font-weight: bold">50 ans à rassembler la mémoire du Québec par le dépôt légal... Et c'est grâce à vous que c'est possible. Merci!</span>
        </td>
        <td><img src="assets/img/5_Guides-Form.jpg" class="img-fluid" style="height:150px"></td>
  </tr></table>
</div>

<!--VERTICAL SPACER-->
<div class="w100" style="height: 30px"></div>

<div class="col-sm-12 p-0 m-0 w100">
<table class="w100 p-0 m-0">
  <tr>
    <td style="width:47%">
        <div class="small-title w100">Votre dossier</div>
        <div class="w100">
          <a [routerLink]="['/home/dossier']" routerLinkActive="router-link-active">Voir ou modifier vos coordonnées</a><br>
          <a [routerLink]="['/home/licences']" routerLinkActive="router-link-active" >Licences d'autorisation accordées à BAnQ</a><br>
          <a href="#"></a><br>
        </div>
        <div class="small-title w100">Dépôt de publication numérique</div>
        <div class="w100">
          <a href="#">Déposer une publication numérique libre d'accès</a><br>
          <a href="#">Déposer une publication numérique à accès restreint (commerciale)</a><br>
          <a href="#">Participer au programme de collecte des sites Web québécois</a><br>
          <a href="http://acpt-www.banq.qc.ca/dl-editor-pp/doListTransaction">Consulter la liste de vos dépôts de publications numériques</a><br>
        </div>
    </td>
    <td style="width:6%"></td>
    <td style="width:47%">
        <div class="small-title w100">Dépôt légal</div>
        <div class="w100">
          <a [routerLink]="['/home/depol']" routerLinkActive="router-link-active" >Signaler un nouveau dépôt imprimé</a><br>
          <a [routerLink]="['/home/list-depot']" routerLinkActive="router-link-active">Consulter la liste de vos dépôts</a><br>
          <a [routerLink]="['/home/claim']" routerLinkActive="router-link-active">Consulter la liste de vos réclamations</a><br>
        </div>
        <div class="small-title w100">ISBN</div>
        <div class="w100">
          <a [routerLink]="['/home/dmd-isbn']" routerLinkActive="router-link-active">Faire une première demande pour une séquence ISBN</a><br>
          <a [routerLink]="['/home/new-isbn']" routerLinkActive="router-link-active">Faire une demande additionnelle pour une nouvelle séquence ISBN</a><br>
          <a [routerLink]="['/home/list-isbn']" routerLinkActive="router-link-active">Consulter la liste de vos numéros ISBN</a><br>
          <a href="#"></a><br>
        </div>
    </td>
  </tr>
</table>
</div>

<!--VERTICAL SPACER-->
<div class="w100" style="height: 30px"></div>
