
.big-title{
  color: rgb(48, 171, 161) ;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgb(48, 171, 161);
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.small-title{
  color: rgb(48, 171, 161) ;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid rgb(48, 171, 161);
  margin-bottom: 5px;
}



.bottom-link{
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.bottom-link2{
  color: #525252;
  font-size: 12px;
  text-decoration: underline;
}


.home-bande {
  width: 100%;
  background-color: rgb(238, 238, 238) ;
  padding: 10px;
}

.w100 {
  width: 100%;
}

.b0 {
  border: none;
}

a{
  font-size: 12px;
}
