
<div class="card m-0 p-0">
  <!-- HEADER -->
  <div class="p-2 bg-banq justify-content-center text-center">
      <strong style="font-size: 15px">Nouvelle demande de numéro ISBN</strong>
  </div>

  <!-- BODY -->
  <div class="card-body col-sm-12 m-0 animated fadeIn">

    <div>
      <h6>Rappel : n'oubliez pas de mettre à jour vos coordonnées et le nom du répondant s'il y a lieu : <a href="#">faire une mise à jour</a></h6>
      <h6>Assurez-vous que le document est éligible à une demande ISBN en consultant le <a href="#">Guide sur l'utilisation de l'ISBN</a>	.</h6><br>
      <h6>Combien de titres prévoyez-vous publier sous ce nom d'éditeur au cours des cinq prochaines années?</h6>
      <div class="input-group">
          <div class="input-group-prepend"><input type="radio">&nbsp;<span>10 et moins</span></div>
          <div class="input-group-prepend" style="margin-left: 25px;"><input type="radio">&nbsp;<span>11 à 100</span></div>
          <div class="input-group-prepend" style="margin-left: 25px;"><input type="radio">&nbsp;<span>Plus de 100</span></div>
        </div>
    </div>
    <br>
    <div>
        <div class="input-group">
            <div class="input-group-prepend"><h6>Commentaires</h6></div>&nbsp;
            <textarea class="form-control" rows="2"></textarea>
        </div>
        <div style="padding-left: 100px;"><small style="font-weight: bold; font-size: 9px; color:grey">Le contenu ne peut pas excéder 2000 caractères</small></div>
    </div>

  </div>

  <!-- FOOTER -->
  <div class="card-footer">
    <div class=" form-inline d-flex justify-content-start">
        <button type="button" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-arrow-left"></i>&nbsp;Retour</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" (click)="back()"><i class="fa fa-times"></i>&nbsp;Effacer tout</button>&nbsp;
        <button type="button" class="btn btn-sm btn-primary" (click)="back()"><i class="fa fa-check"></i>&nbsp;Soumettre</button>
    </div>
  </div>

</div>

