// If you want to override variables do it here
@import "variables";
// Import styles
@import "~@coreui/coreui/scss/coreui";
// If you want to add something do it here
@import "custom";
body {
    // background-image: url("../assets/img/89.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.transparent {
    opacity: 0.85;
    filter: alpha(opacity=85);
    /* For IE8 and earlier */
}


.sqtd-select {
  .mat-form-field-infix {border:1px solid #999; height:14px; font-size:12px;}
  .mat-select-trigger {padding-left:5px;}
  .mat-form-field-appearance-legacy {border:none; height:28px;}
  mat-selection-list { padding-top:0!important;}
  div.mat-list-item-content { padding:0 0 0 3px!important; }
  mat-list-option.mat-list-item.mat-list-option {height:2em;padding:0; margin:0; font-size:12px;}
}

.w100 {
  width:100%;
}

.mat-select-panel .mat-option {
  height: 24px !important;

  .mat-option-text {
      line-height: 15px !important;
  }
}
