#PdP {
  clear:both;
  text-align:center;
  font-weight:bold;
  color:#777;
  font-size:.84em;
  padding: 30px 0 15px 0;
}
#PdP a:link, #PdP a:visited {
  font-weight:normal;
  color:#777;
  margin:0 5px;
}
#PdP a.LienQuestion:link, #PdP a.LienQuestion:visited {
  font-weight:bold;
  color:#fff;
}
#PdP a:hover, #PdP a:focus {
  text-decoration:none;
}
#PdP div.pdp1 {
  border-bottom:1px solid #226d9a;
  /* position:relative; cree un bug sous IE8 */
  padding-top:2px;
  overflow:hidden;
  background-image: url("http://www.banq.qc.ca/images/interface09/pdp_bleu.gif");
  background-repeat: no-repeat;
  background-position: center top;
}
#PdP div.pdp1 p {
  font-weight:bold;
  color:#fff;
  padding:1px 0;
  text-align:center;
  width:600px;
  margin: 0 auto;
}
#PdP p.pdp2 {
  line-height:2em;
}
