
<div class="w100 p-0 m-0 bg-white text-center">
    <div id="PdP" class="print_noShow">
      <div class="pdp1">
        <p>Une question?
          <a href="http://www.banq.qc.ca/formulaires/formulaire_reference/index.html" class="LienQuestion">Demandez à un bibliothécaire ou à un archiviste</a> |
          <a href="http://www.banq.qc.ca/a_propos_banq/nous_joindre/index.html" class="LienQuestion">Pour nous joindre</a>
        </p>
      </div>
      <p class="pdp2">
        <a href="http://www.banq.qc.ca/techno/plan_site.html" accesskey="3" title="Plan du site : Touche d'accès clavier=3.">Plan du site</a> |
        <a href="/http://www.banq.qc.caa_propos_banq/droit_auteur_avis_integrite/index.html">Droit d'auteur</a> |
        <a href="http://www.banq.qc.ca/a_propos_banq/mission_lois_reglements/lois_reglements_politiques/politiques_procedures/politique_confidentialite/index.html">Confidentialité</a> |
        <a href="http://www.banq.qc.ca/a_propos_banq/mission_lois_reglements/declaration_services/">Déclaration de services aux citoyens</a> |
        <a href="http://www.banq.qc.ca/a_propos_banq/acces_a_linfo/index.html">Accès à l'information</a> |
        <a href="http://www.banq.qc.ca/a_propos_banq/accessibilite/index.html" accesskey="0" title="Accessibilité : Touche d'accès clavier=0.">Accessibilité</a> |
        <a href="http://www.banq.qc.ca/a_propos_banq/salle_de_presse/index.html">Salle de presse</a><br />Bibliothèque et Archives nationales du Québec<br />IDEL - <i>version 2.0.0</i>
      </p>
    </div>
  </div>
