.windowed {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen {
    position: fixed;
}

.background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(1.0, 1.0, 1.0, 0.2);
}

.spinner-outer {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;

    .spinner-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
