<div class="windowed"
     [ngClass]="{'fullscreen': fullscreen}">
    <div class="background"></div>
    <div class="spinner-outer">
        <div class="spinner-inner">
            <mat-progress-spinner mode="indeterminate" [diameter]="diameter" [color]="color"></mat-progress-spinner>
        </div>
    </div>
</div>
